@use 'reset';

@mixin fontstyle($size) {
  font-size: $size;
  letter-spacing: -1px;
}

h2 {
  @include fontstyle(30px)
}

h3 {
  @include fontstyle(20px)
}

h4 {
  @include fontstyle(10px)
}

%btn {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.btn-green {
  @extend %btn;
  background: green;
  color: reset.$main-color;
}

.btn-red {
  @extend %btn;
  background: red;
}

.btn-blue {
  @extend %btn; 
  background: blue;
}

$sub-color : #eeeeee;


.background {
  background-color: $main-color;
}

.box {
  color: $sub-color;
}