.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.black-nav {
  display: flex;
  background-color: #000;
  width: 100%;
  color: #fff;
  padding-left: 20px;

  h4 {
    cursor: pointer;
  }
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #555;

  span {
    margin: 10px;
  }

  button {
    margin-left: 10px;
  }

  span {
    cursor: pointer;
  }
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}
